@import "tailwindcss";

@theme {
  /* Color */
  --color-back: #101010;
  --color-black-2 : #1F1F1F;
  --color-black-soft : #191919;
  --color-mature : #9E3DE8;
  --color-blue : #007DCA;
  --color-gray: #F2F7F8;
  --color-gray-2 : #333333;

  /* Spacing */
  --spacing-90: 90px;
  --spacing-120: 120px;
  --spacing-200: 200px;
  --spacing-270: 270px;
  --spacing-288: 219px;
  --spacing-344: 344px;
  --spacing-360: 360px;
  --spacing-600: 600px;
  --spacing-728: 728px;

  /* Breakpoints */
  --breakpoint-xs: 450px;

}
